<section class="experience">
  <div class="container">
    <h2 class="experience-heading">Coffee Moments</h2>
    <p class="experience-text">
      Experience the warmth and community of CoffeeJoy.
    </p>
    <div class="experience-gallery">
      <ul class="experience-gallery-list">
        <li class="experience-gallery-item">
          <img
            class="experience-gallery-img"
            src="../img/img12.jpg"
            alt="photo coffee 1"
          />
        </li>
        <li class="experience-gallery-item">
          <img
            class="experience-gallery-img"
            src="../img/img11.jpg"
            alt="photo coffee 2"
          />
        </li>
        <li class="experience-gallery-item">
          <img
            class="experience-gallery-img"
            src="../img/img10.jpg"
            alt="photo coffee 3"
          />
        </li>
        <li class="experience-gallery-item">
          <img
            class="experience-gallery-img"
            src="../img/img09.jpg"
            alt="photo coffee 4"
          />
        </li>
        <li class="experience-gallery-item">
          <img
            class="experience-gallery-img"
            src="../img/img08.jpg"
            alt="photo coffee 5"
          />
        </li>
        <li class="experience-gallery-item">
          <img
            class="experience-gallery-img"
            src="../img/img07.jpg"
            alt="photo coffee 6"
          />
        </li>
        <li class="experience-gallery-item">
          <!-- <picture>
            <source
              media="(min-width: 1440px)"
              srcset="../img/img06.jpg 1x, ../img/img06_dpi2.jpg 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="../img/img06_tab.jpg 1x, ../img/img06_tab_dpi2.jpg 2x"
            />
            <source
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="../img/img06_mob.jpg 1x, ../img/img06_mob_dpi2.jpg 2x"
            />
            <img
              class="experience-gallery-img"
              src="../img/img06.jpg"
              alt="photo coffee 7"
            />
          </picture> -->
          <img
            class="experience-gallery-img"
            src="../img/img06.jpg"
            alt="photo coffee 7"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
