<section class="experience">
  <div class="container">
    <h2 class="experience-heading">Coffee Moments</h2>
    <p class="experience-text">
      Experience the warmth and community of CoffeeJoy.
    </p>
    <div class="experience-gallery">
      <img
        class="experience-gallery-img"
        src="../img/img12.jpg"
        alt="photo coffee 1"
      />
      <img
        class="experience-gallery-img"
        src="../img/img11.jpg"
        alt="photo coffee 2"
      />
      <img
        class="experience-gallery-img"
        src="../img/img10.jpg"
        alt="photo coffee 3"
      />
      <img
        class="experience-gallery-img"
        src="../img/img09.jpg"
        alt="photo coffee 4"
      />
      <img
        class="experience-gallery-img"
        src="../img/img08.jpg"
        alt="photo coffee 5"
      />
      <img
        class="experience-gallery-img"
        src="../img/img07.jpg"
        alt="photo coffee 6"
      />
      <img
        class="experience-gallery-img"
        src="../img/img06.jpg"
        alt="photo coffee 7"
      />
    </div>
  </div>
</section>
