<section class="subscribe">
  <div class="container">
    <div class="subscribe-column">
      <div class="subscribe-content">
        <h2 class="subscribe-heading">
          <span class="subscribe-heading-line-first">Join Our</span>
          <span class="subscribe-heading-line-second">Coffee</span>
          <span class="subscribe-heading-line-third">Community</span>
        </h2>
        <p class="subscribe-text">
          Experience the joy of coffee delivered right to your door. Sign up
          today!
        </p>
      </div>
      <div class="subscribe-actions">
        <form class="subscribe-form">
          <label class="visually-hidden" for="email">Email</label>
          <input
            class="subscribe-input"
            id="email"
            type="email"
            placeholder="Your Email Here"
            required
          />
          <span class="subscribe-input-error"
            >Please enter a valid email address</span
          >
          <button class="subscribe-button" type="submit">
            Subscribe
            <svg class="icon-chevrons-right">
              <use
                width="24px"
                height="24px"
                href="/img/icons.svg#icon-chevrons-right"
              ></use>
            </svg>
          </button>
        </form>

        <p class="subscribe-text-small">
          By clicking Get Started, you agree to our Terms and Conditions.
        </p>
      </div>
    </div>

    <div class="subscribe-image-container">
      <img
        srcset="/img/img13.jpg 1x, /img/img13_dpi2.jpg 2x"
        src="/img/img13.jpg"
        alt="придумати назву для зображення"
        class="subscribe-image"
        loading="lazy"
      />
    </div>
  </div>
</section>
