.experience {
    outline: 1px solid #eb0c0c;
}

.experience-heading {
    font-family: var(--second-family);
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: #0b0803;
    margin-bottom: 24px;
}

.experience-text {
    text-align: center;
    color: #0b0803;
    margin-bottom: 32px;
}

.experience-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
}

.experience-gallery-img {
    border-radius: 32px;
    width: 100%;
    max-width: 288px;
    height: auto;
    object-fit: cover;
}

.experience-gallery-img:nth-child(7) {
    height: 391px;
}

@media screen and (min-width: 768px) {
    .experience-gallery {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }
    .experience-gallery-img {
        width: 100%;
        max-width: 336px;
            }
    .experience-gallery-img:nth-child(7) {
        max-width: 704px;
     
    }
}

@media screen and (min-width: 1440px) {
    .experience-gallery {
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 948px;
        justify-content: flex-start;
    }
    .experience-gallery-img {
        width: 100%;
        max-width: 416px;
        }
    .experience-gallery-img:nth-child(7) {
        max-width: 416px;
        height: auto;
    }
    .experience-gallery-img:nth-child(3) {
        height: 234px;
    }
    .experience-gallery-img:nth-child(4) {
        height: 234px;
    }
}