.experience {
    outline: 1px solid #eb0c0c;
}

.experience-heading {
    font-family: var(--second-family);
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: #0b0803;
    margin-bottom: 24px;
}

.experience-text {
    text-align: center;
    color: #0b0803;
    margin-bottom: 32px;
}

.experience-gallery {}

.experience-gallery-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .experience-gallery-item:last-child {
        height: 391px;
    }
}

@media screen and (min-width: 768px) {
    .experience-gallery-list {
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }

    .experience-gallery-item:last-child {
        grid-column: 1 / -1;
        height: 391px;
    }
}

@media screen and (min-width: 1440px) {
.experience-gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    }

.experience-gallery-item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}
.experience-gallery-item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}
.experience-gallery-item:nth-child(3) {
    height: 234px;
    grid-column: 2;
    grid-row: 1;
    }
.experience-gallery-item:nth-child(4) {
    height: 234px;
    grid-column: 2;
    grid-row: 2;
}
.experience-gallery-item:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
}
.experience-gallery-item:nth-child(6) {
    grid-column: 3;
    grid-row: 1;
}
.experience-gallery-item:nth-child(7){
    grid-column: 3;
    grid-row: 2;
    height: auto;
    /* grid-column: auto; */
                        }
}

/* .experience-gallery-item:last-child {
    height: 391px;
} */

.experience-gallery-img {
    border-radius: 32px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}