.header {
    background-color: #e0cbb4;
    padding-top: 18px;
    padding-bottom: 18px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-box {
    width: 84px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-coffee {
    display: block;
    fill: #0b0803;
}

.header-nav {
    display: none;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #0b0803;
    text-decoration: none;
    transition:
        color 0.3s ease,
        transform 0.2s ease,
        font-weight 0.3s ease;
}

.nav-link:hover,
.nav-link:focus {
    color: #b58869;
    font-weight: 700;
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 4px;
    transform: translateY(1px);
}

.burger-btn {
    width: 24px;
    height: 24px;
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.icon-menu {
    fill: #0b0803;
}


@media screen and (min-width: 768px) {
    .header-nav {
        display: block;
    }

    .burger-btn {
        display: none;
    }
}


/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #e0cbb4;
    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    display: flex;
    justify-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
    flex-direction: column;
    height: 100%;
}
.menu-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.mobile-menu-nav {
    display: flex;
    justify-content: center;
}

.mob-nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;

    background-color: transparent;
    border:none;
    cursor:pointer;
    padding: 0;
    line-height: 0;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
    transition: fill 0.3s ease;
}

.mobile-menu-close:hover .icon-close,
.mobile-menu-close:focus .icon-close {
    fill: #b58869;
    transform: scale(1.2);
    transition: transform 0.25s ease, fill 0.25s ease;
}
