.header {
    background-color: #e0cbb4;
    padding-top: 18px;
    padding-bottom: 18px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.icon-coffee {
    display: block;
    fill: #0b0803;
}

.header-nav {
    display: none;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #0b0803;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #b58869;
    font-weight: 700;
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.burger-btn {
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.icon-menu {
    fill: #0b0803;
}


@media screen and (min-width: 768px) {
    .header-nav {
        display: block;
    }

    .burger-btn {
        display: none;
    }
}

@media screen and (min-width: 1440px) {


    .header-nav {
        display: block;
    }

    .burger-btn {
        display: none;
    }
}