.location-section .container {
    padding-top: 64px;
    padding-bottom: 64px;
}

.location-p-find {
    font-size: 16px;
    font-weight: 600;
}

.location-title {
    font-family: var(--second-family), sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-top: 16px;
}

.location-p {
    margin-top: 24px;
}

.location-contact {
    margin-top: 40px;
}

.location-contact-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.location-item-title {
    font-family: var(--second-family), sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    font-style: normal;
    margin-top: 16px;
}

.location-item-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-style: normal;
    margin-top: 8px;
}

.location-adress-p {
    font-size: 16px;
    font-style: normal;
    margin-top: 8px;
}

.location-get-direction {
    display: flex;
    margin-top: 16px;
}

.location-direction-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
}

.location-direction-link svg {
    margin-left: 16px;
}
.map-container {
    border-radius: 40px;
    min-width: 288px;
    min-height: 307px;
    margin-top: 32px;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 307px;
}

@media only screen and (min-width: 768px) {
    .location-contact-list {
        flex-direction: row;
    }

    .location-list-item {
        flex: 1;
    }

    .map-container {
        height: 377px;
    }
    
    iframe {
        height: 377px;
    }

}

@media only screen and (min-width: 1440px) {
    .location-section .container {
        display: flex;
        gap: 24px;
    }

    .location-address-container {
        width: 419px;
    }

    .map-container {
        width: 869px;
        height: 697px;
        margin-top: 0px;
    }

    .map-container iframe {
        height: 697px;
    }

    .location-contact-list {
        flex-direction: column;
    }

    .location-title {
        font-size: 48px;
    }

}
