/* subscribe section */

.subscribe {
  /* Box model */
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-block: 64px;

  /* Visual */
  background-color: transparent;
}

.subscribe-content {
  /* Box model */
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.subscribe-column {
  /* Box model */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.subscribe-heading {
  /* Typography */
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--color-text);
}

.subscribe-text {
  /* Typography */
  font-size: 18px;
  line-height: 150%;
  color: var(--color-text);
}

.subscribe-actions {
  /* Box model */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscribe-form {
  /* Box model */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscribe-input {
  /* Box model */
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px;

  /* Typography */
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: var(--opacity-neutral-darkest-60);

  /* Visual */
  background-color: var(--opacity-white-0);
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 12px;
}

.subscribe-button {
  /* Box model */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 48px;
  padding: 10px;

  /* Typography */
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  text-align: center;

  /* Visual */
  background-color: var(--color-button);
  border: 0;
  border-radius: 100px;

  /* Misc */
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  flex-shrink: 0;
  display: inline-block;
}

.icon use {
  width: 100%;
  height: 100%;
}

.subscribe-text-small {
  /* Typography */
  font-size: 12px;
  line-height: 150%;
  color: var(--color-text);
}

.subscribe-image-container {
  height: 400px;
  border-radius: 40px;
  overflow: hidden;
  /* background: var(--opacity-neutral-darkest-15); */
}

.subscribe-image {
  height: 100%;
  object-fit: cover;
}
