/* subscribe section */

.subscribe {
  /* Box model */
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-block: 64px;

  /* Visual */
  background-color: transparent;
}

.subscribe-content {
  /* Box model */
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.subscribe-column {
  /* Box model */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.subscribe-heading {
  /* Typography */
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--color-text);
}

.subscribe-heading-line-first {

}
.subscribe-heading-line-second {

}
.subscribe-heading-line-third {
}
.subscribe-text {
  /* Typography */
  font-size: 18px;
  line-height: 150%;
  color: var(--color-text);
}

.subscribe-actions {
  /* Box model */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscribe-form {
  /* Box model */
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subscribe-input {
  /* Box model */
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px;

  /* Typography */
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: var(--opacity-neutral-darkest-60);

  /* Visual */
  background-color: var(--opacity-white-0);
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 12px;
}

.subscribe-button {
  /* Box model */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 10px 24px 10px 24px;
  flex-shrink: 0;

  /* Typography */
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  font-family: var(--main-family);
  font-weight: 500;

  /* Visual */
  background-color: var(--color-button);
  border: 0;
  border-radius: 100px;
  box-shadow:
    inset 0px 32px 24px 0px var(--opacity-white-5),
    inset 0px 2px 1px 0px var(--opacity-white-25),
    inset 0px 0px 0px 1px var(--opacity-neutral-darkest-15),
    inset 0px -2px 1px 0px var(--opacity-neutral-darkest-50),
    0px 1px 2px 0px var(--opacity-neutral-darkest-5);

  /* Misc */
  cursor: pointer;
}

.icon-chevrons-right {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  fill: var(--color-white);


}

.subscribe-text-small {
  /* Typography */
  font-size: 12px;
  line-height: 150%;
  color: var(--color-text);
}

.subscribe-image-container {
  height: 400px;
  border-radius: 40px;
  overflow: hidden;
  /* background: var(--opacity-neutral-darkest-15); */
}

.subscribe-image {
  height: 100%;
  object-fit: cover;
}
