/* #region Success subscription */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.subscription-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.success-sub {
  background: #e0cbb4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  border-radius: 40px;
  padding: 64px 16px;
  transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .success-sub {
    padding: 64px;
    width: 704px;
  }
}
@media only screen and (min-width: 1440px) {
  .success-sub {
    width: 866px;
  }
}

.success-btn-x {
  position: absolute;
  top: 24px;
  right: 24px;
  background: transparent;
  border: none;
  width: 32px;
  height: 32px;
}

@media only screen and (min-width: 1440px) {
  .success-btn-x {
    right: 73px;
  }
}
.icon-close {
  fill: #0b0803;
}

.success-title {
  margin: 0 auto;
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
  width: 256px;
}

@media only screen and (min-width: 768px) {
  .success-title {
    width: 502px;
    font-size: 36px;
  }
}

@media only screen and (min-width: 1440px) {
  .success-title {
    width: 738px;
    font-size: 48px;
  }
}

.success-text {
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 24px;
  width: 256px;
}

@media only screen and (min-width: 768px) {
  .success-text {
    width: 576px;
    margin-bottom: 48px;
  }
}

@media only screen and (min-width: 1440px) {
  .success-text {
    width: 738px;
  }
}
.success-img {
  margin: 0 auto;
  object-fit: cover;
  border-radius: 24px;
  width: 256px;
  height: 200px;
  margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .success-img {
    border-radius: 40px;
    width: 644px;
    height: 374px;
    margin-bottom: 48px;
  }
}

.success-btn-close {
  border-radius: 100px;
  padding: 10px 24px;
  width: 256px;
  height: 44px;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #6f4e37;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .success-btn-close {
    width: 340px;
  }
}

@media only screen and (min-width: 1440px) {
  .success-btn-close {
    width: 274px;
  }
}

/* #endregion additional task */
